<!DOCTYPE html>
<html>

<head>

<link rel="stylesheet" href="../css/variables.css">
<link rel="stylesheet" href="../css/base.css">
<link rel="stylesheet" href="../css/components.css">

</head>


<body>


<div class="container">


<span class="section-label">
Executive Summary
</span>



<button
class="copy-button"
data-copy="executive-summary"
onclick="copyHTML('executive-summary')">

Copy HTML

</button>



<div id="executive-summary" class="component-preview">


<h1>
Digital Transformation Assessment
</h1>


<p>
This assessment evaluated current operational processes,
technology capabilities, and improvement opportunities.
</p>



<div class="component-grid">


<div class="component-card">

<h3>
Key Finding
</h3>

<p>
Current workflows rely heavily on manual processes.
</p>

</div>



<div class="component-card">

<h3>
Business Impact
</h3>

<p>
Potential improvements include increased visibility and reduced inefficiency.
</p>

</div>


</div>


</div>


</div>


<script src="../js/library.js"></script>


</body>

</html>